set colored-stats on
set colored-completion-prefix on
set show-all-if-ambiguous on
set completion-ignore-case on
set completion-map-case on
set bell-style none
set completion-query-items 40

# disable/enable 8bit input
set input-meta on
set output-meta on
set convert-meta off

# visible-stats
# Append a mark according to the file type in a listing
set visible-stats off
set mark-directories on
set mark-symlinked-directories on

set keymap vi-insert
Control-l: clear-screen
Space:magic-space
Meta-.: yank-last-arg
Control-w: unix-word-rubout
Control-u: unix-line-discard
